/* color palette 
persian indigo #27187E (use for side bar background)
cornflower blue #758BFD
periwinkle #AEB8FE
anti-flash white #F1F2F6 (general font color)
UT Orange #FF8600 (nav bar background color)

----SUBJECT TO CHANGE-----
*/

* {
    font-family: "Protest Strike", sans-serif;
}

body  {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    background-color: #ffffff;
}

label {
    color: #6FFFE9 ;
}

#book-form, .radio-container, .radio-container > div {
    display: flex;
}

.radio-container label {
    font-size: 20px;
}

.radio-container > div {
    align-items: center;
}

#book-form {
    flex-direction: column;
    align-items: center;
    height: 75%;
    justify-content: space-evenly;
}

#read, #not-read {
    width: 20px;
    height: 20px;
}


.radio-container {
    width: 100%;
    justify-content: space-evenly;
    align-items: center;    
}


.reg-input {
    width: 90%;
    height: 35px;
    margin-bottom: 15px;
    border-radius: 10px;
    font-size: 20px;
    color: #3A506B;
    border: none;
    background-color: #5BC0BE;
}

#submit-button {
    color: #3A506B;
    background-color: #5BC0BE;
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
    border: none;
}

.sidebar {
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: #1C2541;
}

.form-header {
 color: #6FFFE9;
}

.nav {
    grid-column: 2/3 ;
    grid-row: 1/2;
    background-color: #FFFFFF ;
    height: 100px;
    box-shadow: 4px 1px 4px 4px #3A506B ;
}

.nav-head {
    color: #1C2541;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(307px, 0.5fr)) ;
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    gap: 10px;
    margin: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 5px;
    border: none;
    overflow-wrap: break-word;
    border-left: 1rem solid #5BC0BE;
    box-shadow: 4px 4px 4px 1px #3A506B;
}


.edit-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

.edit-buttons button {
    color: #6FFFE9;
    width: 162px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: #3A506B;
    box-shadow: 4px 4px 4px 1px #1C2541;
}



.card >  :nth-child(-n+4) {
    margin: 10px;
    font-size: 25px;
    color: #1C2541;
}

