/* color palette 
persian indigo #27187E (use for side bar background)
cornflower blue #758BFD
periwinkle #AEB8FE
anti-flash white #F1F2F6 (general font color)
UT Orange #FF8600 (nav bar background color)

----SUBJECT TO CHANGE-----
*/

* {
    color: #F1F2F6;
}

body  {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

#book-form, .radio-container, .radio-container > div {
    display: flex;
}

.radio-container label {
    font-size: 20px;
}

.radio-container > div {
    align-items: center;
}

#book-form {
    flex-direction: column;
    align-items: center;
    height: 75%;
    justify-content: space-evenly;
}

#read, #not-read {
    width: 20px;
    height: 20px;
}


.radio-container {
    width: 100%;
    justify-content: space-evenly;
    align-items: center;    
}


.reg-input {
    width: 90%;
    height: 35px;
    margin-bottom: 15px;
    border-radius: 10px;
    font-size: 20px;
    color: #AEB8FE;
    border: none;
    box-shadow: 1px 4px 3px 1px #0B3948;
}

#submit-button {
    color: #AEB8FE;
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 4px 3px 1px #0B3948;
}

.sidebar {
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: #ACB0BD;;
}

.nav {
    grid-column: 2/3 ;
    grid-row: 1/2;
    background-color: #F9DB6D;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(307px, 1fr)) ;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}